.friends {
  color: #828282;
}

.friends:hover {
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.friendBlock {
  position: absolute;
  bottom: 6px;
  left: 190px;
  right: 10px;
  background-color: #282828;
  border-radius: 5px;
  padding: 2px;
  width: 25%;
}
