/*FriendsBlock.tsx*/
.friends {
  color: #828282;
}

.friends:hover {
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.friendBlock {
  display: flex;
  flex-direction: row;
}

.userFriends {
  position: absolute;
  bottom: 8px;
  left: 190px;
  right: 10px;
  background-color: #edebeb;
  border-radius: 5px;
  padding: 2px;
  width: 12%;
}

.userFriendsDark {
  position: absolute;
  bottom: 8px;
  left: 190px;
  right: 10px;
  background-color: #282828;
  border-radius: 5px;
  padding: 2px;
  width: 12%;
}

/*GroupItem.tsx*/
.group {
  margin-bottom: 20px;
}

.followers {
  display: flex;
  gap: 12px;
  flex-direction: row;
  height: 100%;
}
